/*------------------------
Header
-------------------------*/
.site-branding{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    font-family: 'Monserrat', sans-serif;
}
    .site-title{
        font-family: $font__sitetitle;
        font-weight: bold;
        font-size: clamp(4rem, #{"-0.875rem + 8.333vw"},6rem);
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 3.5rem;
    a{
        text-decoration: none;
    }
}
.site-description{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 3.5rem;
    font-family: $font__sitetitle;
    font-weight: normal;
    font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},2rem);
}
.entry-header, .page-header{
    
    h1{
        color: #ff6e6e;
        font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},2rem);
    }
    h2{
        font-size: clamp(.6rem, #{"-0.875rem + 8.333vw"},2rem);
    }
}
.page-header{
    text-align: center;
}
.entry-header, .entry-content, .entry-footer{
    margin-left: 3rem;
}
//Sidebar
.site-info{
    @include tablet{
        margin-right: 1rem;
        display: flex;
        justify-content: space-evenly;
    }
}
@include tablet{  
    section#calendar-3 {
        width: 50%;
    }
    section#categories-3 {
        width: 50%;
    }
}
section .calendar_wrap {
padding-left: 1rem;
padding-right: 1rem;
}
/*Description projet*/
.entry-content p{
    text-align: center;
}



